/* CSS Document */
#cadBan{
	position:absolute;
	width: 977px;
	height: 117px;
	left: 0px;
	top: 39px;
}
#cadBanNom{
	position:absolute;
	width: 540px;
	height: 11px;
	left: 11px;
	top: 16px;
}
/* ---------------------------- */

#cadBut{
	position:absolute;
	width: 113px;
	height: 44px;
	left: 212px;
	top: 55px;
}

/* ---------------------------- */
#voltar{
	position:absolute;
	width: 68px;
	height: 26px;
	left: 906px;
	top: 3px;
}
