/* CSS Document */
#cadSer{
	position:absolute;
	width: 925px;
	height: 117px;
	left: 0px;
	top: 41px;
}
#cadSerDes{
	position:absolute;
	width: 802px;
	height: 11px;
	left: 11px;
	top: 16px;
}
/* ---------------------------- */

#cadCliBut{
	position:absolute;
	width: 113px;
	height: 44px;
	left: 224px;
	top: 58px;
}

/* ---------------------------- */
#voltar{
	position:absolute;
	width: 68px;
	height: 26px;
	left: 853px;
	top: 3px;
}
