<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @concessionaire.name %>
</p>


<%= link_to 'Edit', edit_concessionaire_path(@concessionaire) %> |
<%= link_to 'Back', concessionaires_path %>
