/* CSS Document */
#desconectar{
	position:absolute;
	left: 726px;
	top: 5px;
	width: 44px;
	height: 57px;
	z-index: 1;
}

#legendaBanco{
	position:absolute;
	left: 450px;
	top: 33px;
	z-index: 1;
}
