/* CSS Document */
body{
	margin-left: 15px;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
}
body#corpo{
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(../../imagens/bg.jpg);
}
#carregando{
	position:absolute;
	top:50%;
	left:50%;
}
#conteudo {
	position:absolute;
	left: 13px;
	top: 77px;
	width: 759px;
	height: 525px;
}
.texto1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #AD8D0C;
}
.texto2 {font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 13px; color: #333333; font-weight: bold; }
.texto3 {font-family: "Times New Roman", Times, serif; font-size: 18px; color: #AD8D0C; font-weight: bold; }
.texto4 {font-family: "Times New Roman", Times, serif; font-size: 26px; color: #AD8D0C; font-weight: bold; }
.tf1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: thin double #00CCFF;
}

.bt1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: thin double #00CCFF;
	color: #00CCFF;
	font-weight: bold;
}
.tf1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: thin double #00CCFF;
	color:#666666;
	font-weight: bold;
}
.alerta1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
}

.confirma1{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#00CC33;
}

#central{
	position:absolute;
	left: 1px;
	top: 9px;
	height: 190px;
	width: 389px;
}
