/* CSS Document */
#menu {
  margin:0; 
  padding:0; 
  width: auto;
  height: auto;
  overflow:hidden; 
}
#menu li {
  display:inline;
  background-color:#0099FF;
  width:150px;
  list-style-type:none; 
}
#menu li{
  display:block;
  float:left;
  text-decoration:none; 
  margin:0; 
}
#menu li div#nav {
  margin:0.3em;
  border:dotted;
  border-color:#00CCFF;
  float:left;
}
#menu li div {
  margin:0.2em;
  border:dotted;
  border-color:#00CCFF;
}
#menu li div#nav {
  display:none; 
}

#menu li:hover div#nav {
  width:auto;
  display:block;
  background-color:#00CCFF;
  width:138px;
  cursor:pointer;
}
#menu li div#nav div#nav2 {
	margin-left:140px;
	margin-top:-23px;
	border:dotted;
	border-color:#00CCFF;
	position:absolute;
	float:right;
}
#menu li div#nav div#nav2{
  display:none; 
}
#menu li div#nav div#nav2 div{
	background:#0099FF;
}
#menu li div#nav:hover div#nav2{
  width:auto;
  display:block;
  background-color:#00CCFF;
  width:138px;
  cursor:pointer;
}
#divMenu {
	position:absolute;
	left:17px;
	top:2px;
	width:329px;
	height:auto;
	z-index:1;
}

#desconectar{
	position:absolute;
	left: 726px;
	top: 5px;
	width: 44px;
	height: 57px;
	z-index: 1;
}

#legendaBanco{
	position:absolute;
	left: 415px;
	top: 33px;
	z-index: 1;
	width: 307px;
}
