/* CSS Document */
#altBan{
	position:absolute;
	width: 640px;
	height: 292px;
	left: 0px;
	top: 0px;
}
#altBanHos{
	position:absolute;
	width: 471px;
	height: 11px;
	left: 84px;
	top: 37px;
}
#altBanNomUsu{
	position:absolute;
	width: 383px;
	height: 11px;
	left: 3px;
	top: 106px;
}
#altBanSen{
	position:absolute;
	width: 402px;
	height: 11px;
	left: 74px;
	top: 71px;
}
#altBanNom{
	position:absolute;
	width: 436px;
	height: 11px;
	left: 19px;
	top: 139px;
}
#altBanSenMas{
	position:absolute;
	width: 436px;
	height: 11px;
	left: 36px;
	top: 197px;
}
#altBanBut{
	position:absolute;
	width: 113px;
	height: 44px;
	left: 251px;
	top: 237px;
}
/* ---------------------------- */

#altSta{
	position:absolute;
	width: 642px;
	height: 170px;
	left: 0px;
	top: 306px;
}
#altStaVal{
	position:absolute;
	width: 184px;
	height: 11px;
	left: 90px;
	top: 49px;
}
#altStaSenMas{
	position:absolute;
	width: 365px;
	height: 11px;
	left: 6px;
	top: 79px;
}
#altStaBut{
	position:absolute;
	width: 108px;
	height: 38px;
	left: 203px;
	top: 119px;
}

/* ---------------------------- */

#altMas{
	position:absolute;
	width: 642px;
	height: 312px;
	left: 1px;
	top: 490px;
}
#altMasNomUsu{
	position:absolute;
	width: 581px;
	height: 11px;
	left: 12px;
	top: 39px;
}
#altMasSen1{
	position:absolute;
	width: 513px;
	height: 11px;
	left: 80px;
	top: 75px;
}
#altMasSen2{
	position:absolute;
	width: 560px;
	height: 11px;
	left: 6px;
	top: 111px;
}
#altMasSenMas{
	position:absolute;
	width: 365px;
	height: 11px;
	left: 72px;
	top: 165px;
}
#altMasBut{
	position:absolute;
	width: 113px;
	height: 44px;
	left: 235px;
	top: 221px;
}
/* ---------------------------- */
#voltar{
	position:absolute;
	left: 649px;
	top: 2px;
	z-index:3;
}
