/* CSS Document */
#cadCliNov{
	position:absolute;
	width: 146px;
	height: 11px;
	left: 110px;
	top: 5px;
}
/* ---------------------------- */
#cadCliPesRef{
	position:absolute;
	width: 628px;
	height: 11px;
	left: 11px;
	top: 29px;
}
/* ---------------------------- */
#cadCliPes{
	position:absolute;
	width: 640px;
	height: 112px;
	left: 0px;
	top: 18px;
}
#cadCliPesNom{
	position:absolute;
	width: 608px;
	height: 11px;
	left: 11px;
	top: 16px;
}
#cadCliPesCPF{
	position:absolute;
	width: 596px;
	height: 11px;
	left: 23px;
	top: 78px;
}
#cadCliPesRG{
	position:absolute;
	width: 591px;
	height: 11px;
	left: 28px;
	top: 47px;
}

/* ---------------------------- */

#cadCliTel{
	position:absolute;
	width: 651px;
	height: 40px;
	left: 0px;
	top: 135px;
}
#cadCliTelNum{
	position:absolute;
	width: 304px;
	height: 11px;
	left: 19px;
	top: 3px;
}
#cadCliTelNot{
	position:absolute;
	width: 298px;
	height: 11px;
	left: 338px;
	top: 3px;
}

/* ---------------------------- */

#cadCliEml{
	position:absolute;
	width: 657px;
	height: 40px;
	left: 0px;
	top: 183px;
}
#cadCliEmlURL{
	position:absolute;
	width: 286px;
	height: 11px;
	left: 35px;
	top: 3px;
}
#cadCliEmlNot{
	position:absolute;
	width: 300px;
	height: 11px;
	left: 338px;
	top: 3px;
}

/* ---------------------------- */

#cadCli{
	position:absolute;
	width: 617px;
	height: 108px;
	left: 0px;
	top: 229px;
}
#cadCliNomUsu{
	position:absolute;
	width: 581px;
	height: 11px;
	left: 13px;
	top: 5px;
}
#cadCliSen1{
	position:absolute;
	width: 513px;
	height: 11px;
	left: 81px;
	top: 38px;
}
#cadCliSen2{
	position:absolute;
	width: 588px;
	height: 11px;
	left: 7px;
	top: 71px;
}


/* ---------------------------- */

#cadCliBut{
	position:absolute;
	width: 113px;
	height: 44px;
	left: 455px;
	top: 357px;
}

/* ---------------------------- */

#cadCliFun{
	position:absolute;
	width: 440px;
	height: 72px;
	left: 5px;
	top: 324px;
}

#cadCliFunEmpRel{
	position:absolute;
	width: 422px;
	height: 26px;
	left: 7px;
	top: 6px;
}

#cadCliFunCla{
	position:absolute;
	width: 170px;
	height: 14px;
	left: 66px;
	top: 42px;
}
