/* CSS Document */
#CadLan{
	position:absolute;
	width: 609px;
	height: 396px;
	left: 1px;
	top: 0px;
}
#cadLanCod{
	position:absolute;
	width: 207px;
	height: 11px;
	left: 56px;
	top: 4px;
}
#cadLanPlaCon{
	position:absolute;
	width: 459px;
	height: 8px;
	left: 49px;
	top: 46px;
}
#cadLanPro{
	position:absolute;
	width: 367px;
	height: 11px;
	left: 90px;
	top: 79px;
}
#cadLanMod{
	position:absolute;
	width: 367px;
	height: 13px;
	left: 95px;
	top: 106px;
}
#cadLanValCom{
	position:absolute;
	width: 418px;
	height: 11px;
	left: 43px;
	top: 138px;
}
#cadLanSer{
	position:absolute;
	width: 367px;
	height: 11px;
	left: 94px;
	top: 171px;
}
#cadLanVal2{
	position:absolute;
	width: 410px;
	height: 11px;
	left: 49px;
	top: 198px;
}
#cadLanQua{
	position:absolute;
	width: 390px;
	height: 11px;
	left: 64px;
	top: 231px;
}
#cadLanForPag{
	position:absolute;
	width: 445px;
	height: 11px;
	left: 6px;
	top: 264px;
}
#cadLanTec{
	position:absolute;
	width: 367px;
	height: 11px;
	left: 94px;
	top: 290px;
}
/* ---------------------------- */

#cadEmpBut{
	position:absolute;
	width: 113px;
	height: 44px;
	left: 169px;
	top: 332px;
}

/* ---------------------------- */
#alterar{
	position:absolute;
	visibility:hidden;
}
/* ---------------------------- */
#modLan{
	position:absolute;
}
#modLanCod{
	position:absolute;
	width: 227px;
	left: 4px;
	top: 4px;
}
#modLanPC{
	position:absolute;
	width: 513px;
	left: 236px;
	top: 4px;
}
#modLanPro{
	position:absolute;
	width: 437px;
	left: 5px;
	top: 27px;
}
#modLanSer{
	position:absolute;
	left: 448px;
	top: 28px;
	width: 302px;
}
#modLanFP{
	position:absolute;
	left: 5px;
	top: 51px;
	width: 406px;
}
#modLanTec{
	position:absolute;
	left: 6px;
	top: 74px;
	width: 406px;
}
#modLanQua{
	position:absolute;
	left: 416px;
	top: 51px;
	width: 335px;
	height: 10px;
}
#modLanVal{
	position:absolute;
	width: 334px;
	left: 417px;
	top: 74px;
}
