/* CSS Document */
#cadSol{
	position:absolute;
	width: 617px;
	height: 280px;
	left: 6px;
	top: 12px;
}
#cadSolDes{
	position:absolute;
	width: 524px;
	height: 11px;
	left: 46px;
	top: 5px;
}
#cadSolVen{
	position:absolute;
	width: 350px;
	height: 11px;
	left: 30px;
	top: 37px;
}
#cadSolVal{
	position:absolute;
	width: 348px;
	height: 11px;
	left: 84px;
	top: 70px;
}
#cadSolCDB{
	position:absolute;
	width: 588px;
	height: 11px;
	left: 1px;
	top: 104px;
}

/* ---------------------------- */

#cadSolBut{
	position:absolute;
	width: 113px;
	height: 44px;
	left: 195px;
	top: 150px;
}
/* ---------------------------- */

#altSolBut{
	position:absolute;
	width: 113px;
	height: 44px;
	left: 195px;
	top: 212px;
}
#altValPag{
	position:absolute;
	width: 343px;
	height: 44px;
	left: 81px;
	top: 160px;
}

/* ---------------------------- */
#modLan{
	position:relative;
	height:88px;
	width:757px;
}
#modLanCod{
	position:absolute;
	width: 711px;
	left: 16px;
	top: 7px;
}
#modLanDat{
	position:absolute;
	width: 370px;
	left: 9px;
	top: 32px;
}
#modLanPC{
	position:absolute;
	width: 217px;
	left: 9px;
	top: 32px;
}
#modLanPro{
	position:absolute;
	width: 456px;
	left: 6px;
	top: 27px;
}
#modLanSer{
	position:absolute;
	left: 373px;
	top: 61px;
	width: 257px;
}
#modLanFP{
	position:absolute;
	left: 9px;
	top: 55px;
	width: 730px;
	height: 6px;
}
#modLanTec{
	position:absolute;
	left: 29px;
	top: 61px;
	width: 339px;
}
#modLanQua{
	position:absolute;
	left: 384px;
	top: 33px;
	width: 154px;
	height: 10px;
}
#modLanVal{
	position:absolute;
	width: 92px;
	left: 50px;
	top: 34px;
	height: 65px;
}
#modPagar{
	position:absolute;
	background-repeat:no-repeat;
	background-image:url(../../imagens/pagar.png);
	width: 56px;
	left: 769px;
	top: 13px;
	height: 55px;
}

.textLan1{
	font-size:10px;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
