/* CSS Document */
#cadTecAll{
	position:absolute;
	width: 925px;
	height: 486px;
	left: 1px;
	top: 41px;
}
#cadTecNov{
	position:absolute;
	width: 146px;
	height: 11px;
	left: 110px;
	top: 5px;
}
/* ---------------------------- */
#cadTecPesRef{
	position:absolute;
	width: 628px;
	height: 11px;
	left: 10px;
	top: 32px;
}
/* ---------------------------- */
#cadTecPes{
	position:absolute;
	width: 640px;
	height: 112px;
	left: 0px;
	top: 21px;
}
#cadTecPesNom{
	position:absolute;
	width: 608px;
	height: 11px;
	left: 11px;
	top: 16px;
}
#cadTecPesCPF{
	position:absolute;
	width: 596px;
	height: 11px;
	left: 23px;
	top: 78px;
}
#cadTecPesRG{
	position:absolute;
	width: 591px;
	height: 11px;
	left: 28px;
	top: 47px;
}

/* ---------------------------- */

#cadTecTel{
	position:absolute;
	width: 651px;
	height: 40px;
	left: 0px;
	top: 138px;
}
#cadTecTelNum{
	position:absolute;
	width: 304px;
	height: 11px;
	left: 19px;
	top: 3px;
}
#cadTecTelNot{
	position:absolute;
	width: 298px;
	height: 11px;
	left: 338px;
	top: 3px;
}

/* ---------------------------- */

#cadTecEml{
	position:absolute;
	width: 657px;
	height: 40px;
	left: 0px;
	top: 185px;
}
#cadTecEmlURL{
	position:absolute;
	width: 286px;
	height: 11px;
	left: 37px;
	top: 2px;
}
#cadTecEmlNot{
	position:absolute;
	width: 300px;
	height: 11px;
	left: 338px;
	top: 3px;
}

/* ---------------------------- */

#cadTec{
	position:absolute;
	width: 617px;
	height: 189px;
	left: 0px;
	top: 231px;
}
#cadTecCla{
	position:absolute;
	width: 520px;
	height: 11px;
	left: 89px;
	top: 6px;
}
#cadTecBan{
	position:absolute;
	width: 603px;
	height: 11px;
	left: 4px;
	top: 46px;
}
#cadTecAgen{
	position:absolute;
	width: 527px;
	height: 11px;
	left: 80px;
	top: 87px;
}
#cadTecCont{
	position:absolute;
	width: 515px;
	height: 11px;
	left: 94px;
	top: 120px;
}
#cadTecDes{
	position:absolute;
	width: 427px;
	height: 11px;
	left: 82px;
	top: 153px;
}

/* ---------------------------- */

#cadTecBut{
	position:absolute;
	width: 113px;
	height: 44px;
	left: 143px;
	top: 427px;
}

/* ---------------------------- */

#cadTecFun{
	position:absolute;
	width: 440px;
	height: 72px;
	left: 5px;
	top: 324px;
}

#cadTecFunEmpRel{
	position:absolute;
	width: 422px;
	height: 26px;
	left: 7px;
	top: 6px;
}

#cadTecFunCla{
	position:absolute;
	width: 170px;
	height: 14px;
	left: 66px;
	top: 42px;
}
/* ---------------------------- */
#voltar{
	position:absolute;
	width: 68px;
	height: 26px;
	left: 854px;
	top: 3px;
}
