/* CSS Document */
#cadTecNov{
	position:absolute;
	width: 146px;
	height: 11px;
	left: 110px;
	top: 5px;
}
/* ---------------------------- */
#cadTecPesRef{
	position:absolute;
	width: 628px;
	height: 11px;
	left: 10px;
	top: 32px;
}
/* ---------------------------- */
#cadTecPes{
	position:absolute;
	width: 640px;
	height: 112px;
	left: 0px;
	top: 21px;
}
#cadTecPesNom{
	position:absolute;
	width: 608px;
	height: 11px;
	left: 11px;
	top: 16px;
}
#cadTecPesCPF{
	position:absolute;
	width: 596px;
	height: 11px;
	left: 23px;
	top: 78px;
}
#cadTecPesRG{
	position:absolute;
	width: 591px;
	height: 11px;
	left: 28px;
	top: 47px;
}

/* ---------------------------- */

#cadTecTel{
	position:absolute;
	width: 651px;
	height: 40px;
	left: 0px;
	top: 138px;
}
#cadTecTelNum{
	position:absolute;
	width: 304px;
	height: 11px;
	left: 19px;
	top: 3px;
}
#cadTecTelNot{
	position:absolute;
	width: 298px;
	height: 11px;
	left: 338px;
	top: 3px;
}

/* ---------------------------- */

#cadTecEml{
	position:absolute;
	width: 657px;
	height: 40px;
	left: 0px;
	top: 185px;
}
#cadTecEmlURL{
	position:absolute;
	width: 286px;
	height: 11px;
	left: 35px;
	top: 3px;
}
#cadTecEmlNot{
	position:absolute;
	width: 300px;
	height: 11px;
	left: 338px;
	top: 3px;
}

/* ---------------------------- */

#cadTec{
	position:absolute;
	width: 617px;
	height: 74px;
	left: 0px;
	top: 231px;
}
#cadTecCla{
	position:absolute;
	width: 347px;
	height: 11px;
	left: 81px;
	top: 5px;
}
#cadTecDes{
	position:absolute;
	width: 427px;
	height: 11px;
	left: 70px;
	top: 32px;
}

/* ---------------------------- */

#cadTecBut{
	position:absolute;
	width: 113px;
	height: 44px;
	left: 409px;
	top: 331px;
}

/* ---------------------------- */

#cadTecFun{
	position:absolute;
	width: 440px;
	height: 72px;
	left: 5px;
	top: 324px;
}

#cadTecFunEmpRel{
	position:absolute;
	width: 422px;
	height: 26px;
	left: 7px;
	top: 6px;
}

#cadTecFunCla{
	position:absolute;
	width: 170px;
	height: 14px;
	left: 66px;
	top: 42px;
}
