/* CSS Document */
#cadBan{
	position:absolute;
	width: 640px;
	height: 137px;
	left: 0px;
	top: 0px;
}
#cadBanNom{
	position:absolute;
	width: 540px;
	height: 11px;
	left: 11px;
	top: 16px;
}
/* ---------------------------- */

#cadBut{
	position:absolute;
	width: 113px;
	height: 44px;
	left: 149px;
	top: 73px;
}

/* ---------------------------- */
#voltar{
	position:absolute;
	width: 68px;
	height: 26px;
	left: 579px;
	top: 6px;
}
