/* CSS Document */
#pesCheckOut{
	position:absolute;
	width: 922px;
	height: 137px;
	left: 1px;
	top: 41px;
}
#pesCheckOutRef{
	position:absolute;
	width: 514px;
	height: 5px;
	left: 10px;
	top: 19px;
}
/* ---------------------------- */

#pesCheckOutBut{
	position:absolute;
	width: 160px;
	height: 42px;
	left: 31px;
	top: 84px;
}
/* ---------------------------- */
#modLan{
	position:relative;
	height:200px;
	width:600px;
	border-style:dotted;
}
#modLanCod{
	position:absolute;
	width: 342px;
	left: 10px;
	top: 23px;
}
#modLanDat{
	position:absolute;
	width: 225px;
	left: 370px;
	top: 23px;
}
#modLanPC{
	position:absolute;
	width: 268px;
	left: 11px;
	top: 101px;
}
#modLanPro{
	position:absolute;
	width: 585px;
	left: 10px;
	top: 48px;
}
#modLanSer{
	position:absolute;
	left: 11px;
	top: 74px;
	width: 268px;
}
#modLanFP{
	position:absolute;
	left: 294px;
	top: 102px;
	width: 303px;
	height: 6px;
}
#modLanTec{
	position:absolute;
	left: 107px;
	top: 140px;
	width: 303px;
	height: 6px;
}
#modLanAss{
	position:absolute;
	left: 40px;
	top: 182px;
	width: 303px;
	height: 6px;
}
/* ---------------------------- */
#imprimir{
	position:absolute;
	background-repeat:no-repeat;
	background-image:url(../../imagens/imprimir.png);
	width: 56px;
	left: 458px;
	top: 154px;
	height: 55px;
}
#zerar{
	position:absolute;
	background-repeat:no-repeat;
	background-image:url(../../imagens/zerar.png);
	width: 56px;
	left: 538px;
	top: 153px;
	height: 55px;
}
#imprimirGeral{
	position:absolute;
	background-repeat:no-repeat;
	background-image:url(../../imagens/imprimir.png);
	width: 56px;
	left: 2px;
	top: 2px;
	height: 55px;
}
#zerarGeral{
	position:absolute;
	background-repeat:no-repeat;
	background-image:url(../../imagens/zerar.png);
	width: 56px;
	left: 67px;
	top: 3px;
	height: 55px;
}
.textLan1{
	font-size:10px;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
/* ---------------------------- */
#pesCheckOutAll{
	position:absolute;
	width: 197px;
	height: 42px;
	left: 31px;
	top: 193px;
}
/* ---------------------------- */
#corpo{
	position:absolute;
	top: 61px;
}
