/* CSS Document */
#CadLan{
	position:absolute;
	width: 609px;
	height: 502px;
	left: 1px;
	top: 0px;
}
#cadLanCod{
	position:absolute;
	width: 207px;
	height: 11px;
	left: 56px;
	top: 4px;
}
#cadLanPlaCon{
	position:absolute;
	width: 459px;
	height: 8px;
	left: 49px;
	top: 46px;
}
#cadLanPro{
	position:absolute;
	width: 367px;
	height: 11px;
	left: 92px;
	top: 79px;
}
#cadLanMod{
	position:absolute;
	width: 367px;
	height: 13px;
	left: 92px;
	top: 106px;
}
#cadLanValCom{
	position:absolute;
	width: 329px;
	height: 11px;
	left: 125px;
	top: 138px;
}
#cadLanSer{
	position:absolute;
	width: 367px;
	height: 11px;
	left: 96px;
	top: 258px;
	bottom: -1px;
}
#cadLanValSer{
	position:absolute;
	width: 410px;
	height: 11px;
	left: 14px;
	top: 284px;
	bottom: -1px;
}
#cadLanValTot{
	position:absolute;
	width: 410px;
	height: 11px;
	left: 53px;
	top: 384px;
	bottom: -1px;
}
#cadLanQua{
	position:absolute;
	width: 390px;
	height: 11px;
	left: 69px;
	top: 171px;
	bottom: -1px;
}
#cadLanValPro{
	position:absolute;
	width: 367px;
	height: 11px;
	left: 32px;
	top: 204px;
}
#cadLanForPag{
	position:absolute;
	width: 445px;
	height: 11px;
	left: 7px;
	top: 358px;
	bottom: -1px;
}
#cadLanTec{
	position:absolute;
	width: 367px;
	height: 11px;
	left: 92px;
	top: 318px;
	bottom: -1px;
}
/* ---------------------------- */

#cadBut{
	position:absolute;
	width: 113px;
	height: 44px;
	left: 183px;
	top: 429px;
}

/* ---------------------------- */
#alterar{
	position:absolute;
	visibility:hidden;
}
/* ---------------------------- */
#modLan{
	position:relative;
	height:88px;
	width:757px;
}
#modLanCod{
	position:absolute;
	width: 193px;
	left: 9px;
	top: 4px;
}
#modLanDat{
	position:absolute;
	width: 164px;
	left: 244px;
	top: 4px;
}
#modLanPC{
	position:absolute;
	width: 217px;
	left: 413px;
	top: 5px;
}
#modLanPro{
	position:absolute;
	width: 456px;
	left: 6px;
	top: 27px;
}
#modLanSer{
	position:absolute;
	left: 373px;
	top: 61px;
	width: 257px;
}
#modLanFP{
	position:absolute;
	left: 29px;
	top: 45px;
	width: 362px;
	height: 6px;
}
#modLanTec{
	position:absolute;
	left: 29px;
	top: 61px;
	width: 339px;
}
#modLanQua{
	position:absolute;
	left: 474px;
	top: 27px;
	width: 154px;
	height: 10px;
}
#modLanVal{
	position:absolute;
	width: 92px;
	left: 649px;
	top: 9px;
	height: 65px;
}

#checkAditivo{
	position:absolute;
	width: 278px;
	left: 8px;
	top: 254px;
	height: 2px;
}
#linhaProduto{
	position:absolute;
	width: 523px;
	left: 5px;
	top: 40px;
	height: 193px;
	border:#000000;
	border-style:dotted;
}
#linhaServico{
	position:absolute;
	width: 523px;
	left: 5px;
	top: 246px;
	height: 95px;
	border:#000000;
	border-style:dotted;
}

.textLan1{
	font-size:10px;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
