/* CSS Document */
#CadLan{
	position:absolute;
	width: 609px;
	height: 290px;
	left: 1px;
	top: 0px;
}
#cadLanCod{
	position:absolute;
	width: 207px;
	height: 11px;
	left: 56px;
	top: 8px;
}
#cadLanPlaCon{
	position:absolute;
	width: 459px;
	height: 8px;
	left: 6px;
	top: 46px;
}
#cadLanPro{
	position:absolute;
	width: 367px;
	height: 11px;
	left: 47px;
	top: 79px;
}
/* ---------------------------- */

#cadEmpBut{
	position:absolute;
	width: 113px;
	height: 44px;
	left: 135px;
	top: 244px;
}

/* ---------------------------- */
