/* CSS Document */
#divBoxData {
	position:absolute;
	left: 103px;
	top: 124px;
	width: 863px;
	height: 33px;
	visibility:visible;
}

#divBoxDCR{
	position:absolute;
	left: 102px;
	top: 369px;
	width: 863px;
	height: 33px;
	visibility:visible;
}

#divBoxDLT{
	position:absolute;
	left: 101px;
	top: 615px;
	width: 863px;
	height: 33px;
	visibility:visible;
}

#divBoxEspecial{
	position:absolute;
	left: 104px;
	top: 868px;
	width: 863px;
	height: 33px;
	visibility:visible;
}

#divBoxEventos{
	position:absolute;
	left: 104px;
	top: 1116px;
	width: 863px;
	height: 33px;
	visibility:visible;
}

#divBoxFolha{
	position:absolute;
	left: 102px;
	top: 1371px;
	width: 722px;
	height: 33px;
	visibility:visible;
}

#divBoxAddAdmin{
	position:absolute;
	left: 50px;
	top: 226px;
	width: 722px;
	height: 33px;
	visibility:visible;
}

#divBoxCadCalc{
	position:absolute;
	left: 103px;
	top: 1625px;
	width: 863px;
	height: 33px;
	visibility:visible;
}

#divBoxMessageAdmin {
	position:absolute;
	left: 111px;
	top: 37px;
	width: 654px;
	height: 33px;
}

#divBut {
	position:absolute;
	left: 827px;
	top: 61px;
	width: 84px;
}