/* CSS Document */
#divBoxData {
	position:absolute;
	left: 140px;
	top: 100px;
	width: 863px;
	height: 33px;
}

#divBoxDCR{
	position:absolute;
	left: 140px;
	top: 100px;
	width: 863px;
	height: 33px;
}

#divBoxDLT{
	position:absolute;
	left: 140px;
	top: 100px;
	width: 863px;
	height: 33px;
}

#divBoxEspecial{
	position:absolute;
	left: 140px;
	top: 100px;
	width: 863px;
	height: 33px;
}

#divBoxEventos{
	position:absolute;
	left: 140px;
	top: 100px;
	width: 863px;
	height: 33px;
}

#divBoxFolha{
	position:absolute;
	left: 140px;
	top: 100px;
	width: 722px;
	height: 33px;
}

#divBoxAddAdmin{
	position:absolute;
	left: 140px;
	top: 100px;
	width: 722px;
	height: 33px;
}

#divBoxCadCalc{
	position:absolute;
	left: 140px;
	top: 100px;
	width: 863px;
	height: 33px;
}

#divBoxMessageAdmin {
	position:absolute;
	left: 174px;
	top: 81px;
	width: 654px;
	height: 33px;
}

#divBut {
	position:absolute;
	left: 742px;
	top: 41px;
	width: 133px;
}

#divMenu {
	position:absolute;
	top: 98px;
	width: 121px;
	left: 16px;
}
#divLabelAdmin {
	position:absolute;
	left: 184px;
	top: 358px;
	width: 530px;
}
