.invisible {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.words1 {
	color: #FFFFFF;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.words2 {
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.alert {
	color:#FF0000;
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.movel {
	position:absolute;
	left: 46px;
	top: 109px;
	width: 910px;
	height: 130px;
}
