body {
	font:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	background-color: #999999;
}

.invisible {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.words1 {
	color: #FFFFFF;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.words2 {
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color:#FFFFFF;
}

.wordsLabel{
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-weight:bold;
}

.wordsLabel2{
	font-size: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	font-weight:bold;
}

.alert {
	color:#FF0000;
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.movel {
	position:absolute;
	left: 378px;
	top: 567px;
	width: 547px;
	height: 33px;
}

#infos{
	position:absolute;
	left: 782px;
	top: 406px;
	width: 368px;
	height: 33px;
}

#divBox {
	position:absolute;
	left: 21px;
	top: 179px;
	width: 795px;
	height: 33px;
	z-index:1;
}
#divBoxLogged {
	position:absolute;
	left: 22px;
	top: 179px;
	width: 787px;
	height: 33px;
	z-index:1;
}

#divBoxMessage {
	position:absolute;
	left: 107px;
	top: 155px;
	width: 473px;
	height: 33px;
}

#divFMSLogo {
	position:absolute;
	left: 13px;
	top: 30px;
	width: 146px;
	height: 13px;
}

#divBrasao {
	position:absolute;
	left: 573px;
	top: 4px;
	width: 4px;
	height: 13px;
}

#divFields {
	position:absolute;
	width: 379px;
	height: 82px;
	left: 53px;
	top: 67px;
}

#divLabel {
	position:absolute;
	width: 513px;
	height: 47px;
	left: 65px;
	top: 436px;
}
