.butoes_1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	background-color: #F0F0F0;
	background-image: url(../imagens/butao_1.gif);
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
