/* --- */
#nome{
	position:absolute;
	width: 700px;
	left: 100px;
	top: 54px;
	height: 20px;
}
/* --- */
#cartTrab{
	position:absolute;
	width: 800px;
	left: 0px;
	top: 80px;
	height: 57px;
	
}
#cartTrabVal{
	position:absolute;
	width: 484px;
	left: 19px;
	top: 3px;
	height: 20px;
}
#cartTrabSer{
	position:absolute;
	width: 316px;
	left: 104px;
	top: 30px;
	height: 20px;
}
#cartTrabUF{
	position:absolute;
	width: 282px;
	left: 510px;
	top: 3px;
	height: 20px;
}
#cartTrabDat{
	position:absolute;
	width: 360px;
	left: 431px;
	top: 30px;
	height: 20px;
}
/* --- */
#pes{
	position:absolute;
	width: 800px;
	left: 0px;
	top: 141px;
	height: 30px;
	
}
#pesSex{
	position:absolute;
	width: 327px;
	left: 105px;
	top: 3px;
	height: 20px;
}
#pesEstCiv{
	position:absolute;
	width: 330px;
	left: 462px;
	top: 3px;
	height: 20px;
}
/* --- */
#CartRes{
	position:absolute;
	width: 800px;
	left: 0px;
	top: 175px;
	height: 30px;
	
}
#CartResVal{
	position:absolute;
	width: 318px;
	left: 9px;
	top: 3px;
	height: 20px;
}
#CartResCSM{
	position:absolute;
	width: 167px;
	left: 328px;
	top: 3px;
	height: 20px;
}
#CartResRM{
	position:absolute;
	width: 164px;
	left: 509px;
	top: 3px;
	height: 20px;
}
/* --- */
#pisPasep{
	position:absolute;
	width: 800px;
	left: 0px;
	top: 209px;
	height: 30px;
	
}
#pisPasepVal{
	position:absolute;
	width: 367px;
	left: 33px;
	top: 3px;
	height: 20px;
}
#pisPasepDat{
	position:absolute;
	width: 361px;
	left: 432px;
	top: 3px;
	height: 20px;
}
/* --- */
#docs{
	position:absolute;
	width: 800px;
	left: 0px;
	top: 243px;
	height: 82px;
	
}
#docsCPF{
	position:absolute;
	width: 418px;
	left: 110px;
	top: 3px;
	height: 20px;
}
#docsRG{
	position:absolute;
	width: 412px;
	left: 116px;
	top: 28px;
	height: 20px;
}
#docsOrgExp{
	position:absolute;
	width: 278px;
	left: 37px;
	top: 54px;
	height: 20px;
}
#docsDat{
	position:absolute;
	width: 297px;
	left: 432px;
	top: 54px;
	height: 20px;
}
/* --- */
#titEle{
	position:absolute;
	width: 800px;
	left: 0px;
	top: 329px;
	height: 30px;
	
}
#titEleVal{
	position:absolute;
	width: 266px;
	left: 51px;
	top: 3px;
	height: 20px;
}
#titEleZon{
	position:absolute;
	width: 193px;
	left: 458px;
	top: 3px;
	height: 20px;
}
#titEleUF{
	position:absolute;
	width: 111px;
	left: 337px;
	top: 3px;
	height: 20px;
}
/* --- */
#nat{
	position:absolute;
	width: 800px;
	left: 0px;
	top: 362px;
	height: 60px;
	
}
#natDat{
	position:absolute;
	width: 485px;
	left: 18px;
	top: 3px;
	height: 20px;
}
#natUF{
	position:absolute;
	width: 283px;
	left: 511px;
	top: 3px;
	height: 20px;
}
#natNat{
	position:absolute;
	width: 341px;
	left: 453px;
	top: 30px;
	height: 20px;
}
/* --- */
#nomPai{
	position:absolute;
	width: 738px;
	left: 62px;
	top: 426px;
	height: 10px;
	
}
/* --- */
#nomMae{
	position:absolute;
	width: 746px;
	left: 54px;
	top: 453px;
	height: 7px;
	
}
/* --- */
#nomConj{
	position:absolute;
	width: 766px;
	left: 34px;
	top: 479px;
	height: 7px;
	
}
/* --- */
#end{
	position:absolute;
	width: 800px;
	left: 0px;
	top: 505px;
	height: 157px;
	
}
#endUF{
	position:absolute;
	width: 186px;
	left: 117px;
	top: 3px;
	height: 20px;
}
#endCid{
	position:absolute;
	width: 305px;
	left: 489px;
	top: 3px;
	height: 20px;
}
#endCep{
	position:absolute;
	width: 191px;
	left: 111px;
	top: 30px;
	height: 20px;
}
#endBai{
	position:absolute;
	width: 472px;
	left: 316px;
	top: 30px;
	height: 20px;
}
#endTPL{
	position:absolute;
	width: 404px;
	left: 27px;
	top: 55px;
	height: 20px;
}
#endEnd{
	position:absolute;
	width: 710px;
	left: 79px;
	top: 80px;
	height: 20px;
}
#endInv{
	position:absolute;
	width: 292px;
	left: 431px;
	top: 32px;
	height: 20px;
}
/* --- */
#numCas{
	position:absolute;
	width: 157px;
	left: 87px;
	top: 105px;
}
#quadra{
	position:absolute;
	width: 166px;
	left: 309px;
	top: 105px;
}
#fone{
	position:absolute;
	width: 166px;
	left: 499px;
	top: 105px;
}
#redDesMes{
	position:absolute;
	width: 190px;
	left: 276px;
	top: 130px;
}
#redDesAno{
	position:absolute;
	width: 87px;
	left: 469px;
	top: 130px;
}
#cartAbilit{
	position:absolute;
	width: 800px;
	left: 0px;
	top: 665px;
	height: 30px;
}
#cartAbilitVal{
	position:absolute;
	width: 463px;
	left: 3px;
	top: 3px;
}
#cartAbilitCat{
	position:absolute;
	width: 296px;
	left: 473px;
	top: 3px;
}

/* --- */
#regProf{
	position:absolute;
	width: 800px;
	left: 0px;
	top: 698px;
	height: 30px;
}
#regProfVal{
	position:absolute;
	width: 452px;
	left: 13px;
	top: 3px;
}
#regProfSig{
	position:absolute;
	width: 104px;
	left: 501px;
	top: 3px;
}
#regProfReg{
	position:absolute;
	width: 140px;
	left: 638px;
	top: 3px;
}
/* --- */
#grauInst{
	position:absolute;
	width: 800px;
	left: 0px;
	top: 732px;
	height: 30px;
}
#grauInstVal{
	position:absolute;
	width: 255px;
	left: 30px;
	top: 3px;
}
#grauInstNiv{
	position:absolute;
	width: 482px;
	left: 294px;
	top: 3px;
}
/* --- */
#banco{
	position:absolute;
	width: 800px;
	left: 0px;
	top: 766px;
	height: 30px;
}
#bancoVal{
	position:absolute;
	width: 335px;
	left: 95px;
	top: 3px;
}
#bancoAge{
	position:absolute;
	width: 157px;
	left: 483px;
	top: 3px;
}
#bancoCon{
	position:absolute;
	width: 150px;
	left: 645px;
	top: 3px;
}
/* --- */
#certCivil{
	position:absolute;
	width: 800px;
	left: 0px;
	top: 799px;
	height: 56px;
}
#certCivilVal{
	position:absolute;
	width: 375px;
	left: 57px;
	top: 3px;
}
#certCivilTerNum{
	position:absolute;
	width: 318px;
	left: 476px;
	top: 3px;
}
#certCivilFol{
	position:absolute;
	width: 334px;
	left: 99px;
	top: 29px;
}
#certCivilLiv{
	position:absolute;
	width: 140px;
	left: 501px;
	top: 29px;
}
/* --- */
#vincFund{
	position:absolute;
	width: 582px;
	left: 218px;
	top: 859px;
	height: 13px;
}
/* --- */
#origCesDisp{
	position:absolute;
	width: 635px;
	left: 165px;
	top: 885px;
	height: 0px;
}
/* --- */
#cargContra{
	position:absolute;
	width: 548px;
	left: 252px;
	top: 911px;
	height: 10px;
}
/* --- */
#funcExer{
	position:absolute;
	width: 559px;
	left: 241px;
	top: 936px;
	height: 14px;
}
/* --- */
#local{
	position:absolute;
	width: 800px;
	left: 0px;
	top: 962px;
	height: 60px;
}
#localUni{
	position:absolute;
	width: 490px;
	left: 47px;
	top: 3px;
}
#localMicro{
	position:absolute;
	width: 203px;
	left: 66px;
	top: 29px;
}
#localEquip{
	position:absolute;
	width: 213px;
	left: 286px;
	top: 29px;
}
#botao{
	position:absolute;
	width: 123px;
	left: 350px;
	top: 1042px;
	height: 92px;
}
