/* --- */
#nome{
	position:absolute;
	width: 795px;
	left: 4px;
	top: 48px;
	height: 20px;
}
/* --- */
#cartTrab{
	position:absolute;
	width: 796px;
	left: 3px;
	top: 76px;
	height: 67px;
	
}
#cartTrabVal{
	position:absolute;
	width: 443px;
	left: 19px;
	top: 7px;
	height: 20px;
}
#cartTrabSer{
	position:absolute;
	width: 143px;
	left: 104px;
	top: 33px;
	height: 20px;
}
#cartTrabUF{
	position:absolute;
	width: 124px;
	left: 510px;
	top: 7px;
	height: 20px;
}
#cartTrabDat{
	position:absolute;
	width: 292px;
	left: 431px;
	top: 32px;
	height: 20px;
}
/* --- */
#pes{
	position:absolute;
	width: 796px;
	left: 3px;
	top: 149px;
	height: 33px;
	
}
#pesSex{
	position:absolute;
	width: 202px;
	left: 105px;
	top: 7px;
	height: 20px;
}
#pesEstCiv{
	position:absolute;
	width: 277px;
	left: 462px;
	top: 7px;
	height: 20px;
}
/* --- */
#CartRes{
	position:absolute;
	width: 797px;
	left: 3px;
	top: 186px;
	height: 33px;
	
}
#CartResVal{
	position:absolute;
	width: 319px;
	left: 10px;
	top: 8px;
	height: 20px;
}
#CartResCSM{
	position:absolute;
	width: 170px;
	left: 503px;
	top: 8px;
	height: 20px;
}
#CartResRM{
	position:absolute;
	width: 158px;
	left: 334px;
	top: 8px;
	height: 20px;
}
/* --- */
#pisPasep{
	position:absolute;
	width: 798px;
	left: 3px;
	top: 224px;
	height: 32px;
	
}
#pisPasepVal{
	position:absolute;
	width: 275px;
	left: 34px;
	top: 8px;
	height: 20px;
}
#pisPasepDat{
	position:absolute;
	width: 310px;
	left: 431px;
	top: 9px;
	height: 20px;
}
/* --- */
#docs{
	position:absolute;
	width: 799px;
	left: 3px;
	top: 260px;
	height: 58px;
	
}
#docsCPF{
	position:absolute;
	width: 373px;
	left: 110px;
	top: 7px;
	height: 20px;
}
#docsRG{
	position:absolute;
	width: 181px;
	left: 5px;
	top: 33px;
	height: 20px;
}
#docsOrgExp{
	position:absolute;
	width: 257px;
	left: 221px;
	top: 33px;
	height: 20px;
}
#docsDat{
	position:absolute;
	width: 297px;
	left: 486px;
	top: 33px;
	height: 20px;
}
/* --- */
#titEle{
	position:absolute;
	width: 797px;
	left: 4px;
	top: 324px;
	height: 37px;
	
}
#titEleVal{
	position:absolute;
	width: 223px;
	left: 49px;
	top: 6px;
	height: 20px;
}
#titEleZon{
	position:absolute;
	width: 193px;
	left: 457px;
	top: 4px;
	height: 20px;
}
#titEleUF{
	position:absolute;
	width: 111px;
	left: 333px;
	top: 4px;
	height: 20px;
}
/* --- */
#nat{
	position:absolute;
	width: 797px;
	left: 5px;
	top: 365px;
	height: 38px;
	
}
#natDat{
	position:absolute;
	width: 310px;
	left: 16px;
	top: 4px;
	height: 20px;
}
#natUF{
	position:absolute;
	width: 125px;
	left: 653px;
	top: 4px;
	height: 20px;
}
#natNat{
	position:absolute;
	width: 307px;
	left: 337px;
	top: 4px;
	height: 20px;
}
/* --- */
#nomPai{
	position:absolute;
	width: 772px;
	left: 30px;
	top: 408px;
	height: 10px;
	
}
/* --- */
#nomMae{
	position:absolute;
	width: 781px;
	left: 22px;
	top: 434px;
	height: 7px;
	
}
/* --- */
#nomConj{
	position:absolute;
	width: 802px;
	left: 2px;
	top: 460px;
	height: 7px;
	
}
/* --- */
#end{
	position:absolute;
	width: 801px;
	left: 4px;
	top: 486px;
	height: 117px;
	
}
#endUF{
	position:absolute;
	width: 139px;
	left: 14px;
	top: 18px;
	height: 20px;
}
#endCid{
	position:absolute;
	width: 290px;
	left: 164px;
	top: 18px;
	height: 20px;
}
#endCep{
	position:absolute;
	width: 138px;
	left: 13px;
	top: 53px;
	height: 20px;
}
#endBai{
	position:absolute;
	width: 342px;
	left: 472px;
	top: 18px;
	height: 20px;
}
#endTPL{
	position:absolute;
	width: 404px;
	left: 163px;
	top: 54px;
	height: 20px;
}
#endEnd{
	position:absolute;
	width: 783px;
	left: 12px;
	top: 84px;
	height: 20px;
}
#endInv{
	position:absolute;
	width: 292px;
	left: 431px;
	top: 32px;
	height: 20px;
}
/* --- */
#numCas{
	position:absolute;
	width: 157px;
	left: 5px;
	top: 643px;
}
#quadra{
	position:absolute;
	width: 166px;
	left: 170px;
	top: 642px;
}
#fone{
	position:absolute;
	width: 166px;
	left: 347px;
	top: 642px;
}
#redDesMes{
	position:absolute;
	width: 190px;
	left: 523px;
	top: 642px;
}
#redDesAno{
	position:absolute;
	width: 87px;
	left: 717px;
	top: 642px;
}
#cartAbilit{
	position:absolute;
	width: 796px;
	left: 9px;
	top: 669px;
	height: 33px;
}
#cartAbilitVal{
	position:absolute;
	width: 456px;
	left: 7px;
	top: 5px;
}
#cartAbilitCat{
	position:absolute;
	width: 191px;
	left: 473px;
	top: 3px;
}

/* --- */
#regProf{
	position:absolute;
	width: 784px;
	left: 21px;
	top: 706px;
	height: 35px;
}
#regProfVal{
	position:absolute;
	width: 456px;
	left: 5px;
	top: 5px;
}
#regProfSig{
	position:absolute;
	width: 81px;
	left: 467px;
	top: 6px;
}
#regProfReg{
	position:absolute;
	width: 140px;
	left: 560px;
	top: 7px;
}
/* --- */
#grauInst{
	position:absolute;
	width: 790px;
	left: 15px;
	top: 745px;
	height: 35px;
}
#grauInstVal{
	position:absolute;
	width: 456px;
	left: 5px;
	top: 5px;
}
#grauInstNiv{
	position:absolute;
	width: 203px;
	left: 472px;
	top: 5px;
}
/* --- */
#banco{
	position:absolute;
	width: 622px;
	left: 14px;
	top: 795px;
	height: 35px;
}
#bancoVal{
	position:absolute;
	width: 274px;
	left: 4px;
	top: 5px;
}
#bancoAge{
	position:absolute;
	width: 148px;
	left: 290px;
	top: 4px;
}
#bancoCon{
	position:absolute;
	width: 140px;
	left: 450px;
	top: 4px;
}
/* --- */
#certCivil{
	position:absolute;
	width: 785px;
	left: 12px;
	top: 836px;
	height: 35px;
}
#certCivilVal{
	position:absolute;
	width: 176px;
	left: 8px;
	top: 5px;
}
#certCivilTerNum{
	position:absolute;
	width: 148px;
	left: 194px;
	top: 6px;
}
#certCivilFol{
	position:absolute;
	width: 140px;
	left: 354px;
	top: 6px;
}
#certCivilLiv{
	position:absolute;
	width: 140px;
	left: 500px;
	top: 4px;
}
/* --- */
#vincFund{
	position:absolute;
	width: 485px;
	left: 11px;
	top: 878px;
	height: 29px;
}
/* --- */
#origCesDisp{
	position:absolute;
	width: 540px;
	left: 11px;
	top: 913px;
	height: 29px;
}
/* --- */
#cargContra{
	position:absolute;
	width: 523px;
	left: 11px;
	top: 948px;
	height: 29px;
}
/* --- */
#funcExer{
	position:absolute;
	width: 517px;
	left: 13px;
	top: 985px;
	height: 20px;
}
/* --- */
#local{
	position:absolute;
	width: 765px;
	left: 13px;
	top: 1012px;
	height: 35px;
}
#localUni{
	position:absolute;
	width: 321px;
	left: 4px;
	top: 5px;
}
#localMicro{
	position:absolute;
	width: 163px;
	left: 336px;
	top: 4px;
}
#localEquip{
	position:absolute;
	width: 213px;
	left: 514px;
	top: 4px;
}
