body {
	font:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	background-color: #999999;
}

.invisible {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.words1 {
	color: #FFFFFF;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.words2 {
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color:#FFFFFF
}

.alert {
	color:#FF0000;
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.movel {
	position:absolute;
	left: 314px;
	top: 620px;
	width: 547px;
	height: 33px;
}

#infos{
	position:absolute;
	left: 782px;
	top: 406px;
	width: 368px;
	height: 33px;
}

#divBox {
	position:absolute;
	left: 127px;
	top: 99px;
	width: 368px;
	height: 33px;
}

#divFMSLogo {
	position:absolute;
	left: 27px;
	top: 10px;
	width: 146px;
	height: 13px;
}

#divBrasao {
	position:absolute;
	left: 648px;
	top: 10px;
	width: 4px;
	height: 13px;
}

#divFields {
	position:absolute;
	width: 379px;
	height: 82px;
	left: 53px;
	top: 67px;
}
